<div class="main">
  <form>
    <mat-form-field>
      <mat-label>Waza</mat-label>
      <mat-select [(ngModel)]="wazaFilter" name="waza" (selectionChange)="filter()">
        <mat-option *ngFor="let w of waza" [value]="w">
          {{w}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Level</mat-label>
      <mat-select [(ngModel)]="levelFiler" name="level" (selectionChange)="filter()">
        <mat-option *ngFor="let l of level" [value]="l">
          {{l}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>


  <app-technic-table [technics]="idoriTechnics" header="Idori Technics"
                     *ngIf="idoriTechnics.length"></app-technic-table>
  <app-technic-table [technics]="tachiaiTechnics" header="Tachiai Technics"
                     *ngIf="tachiaiTechnics.length"></app-technic-table>
  <app-technic-table [technics]="ushiroTechnics" header="Ushiro Technics"
                     *ngIf="ushiroTechnics.length"></app-technic-table>
  <app-technic-table [technics]="hanzaHandachiTechnics" header="Hanza Handachi Technics"
                     *ngIf="hanzaHandachiTechnics.length"></app-technic-table>
</div>
